/* ! variables */

$blue-color: #013289;
$blue-light-color: #4154f1;
$black-color: #444444;
$white-color: #fff;
$gap: 24px;
$nunito-font: "Nunito", sans-serif;
$opensans-font: "Open Sans", sans-serif;
$transition: all 0.3s;
$container-padding: 60px 0;
$box-shadow: 0px 0 30px #0d6efd21;

$services-blue: #2db6fa;
$services-orange: #f68c09;
$services-green: #08da4e;
$services-red: #e9222c;
$services-purple: #b50edf;
$services-pink: #f51f9c;